<!DOCTYPE HTML>
<!--
	Arcana by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Left Sidebar - Arcana by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/subscribe.css" />
    
    <script type="module" src="assets/js/client.js"></script>

	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<%- include('../partials/header'); %>
				

					<!-- Nav -->
          <%- include('../partials/nav'); %>

			<!-- Main -->
				<section class="wrapper style1">
          <form action="/users" method="post" class="Sform">
            <fieldset>
              <legend>Newsletter Subscribe</legend>
                <p>
                <label for="name">Name: <abbr title="required" aria-label="required"><span class="required">*</span></abbr>
                </label>
                <input id="name" type="text" name="name" placeholder="What is your name?" required>
                </p>

                <p>
                <label for="email">Email:<abbr title="required" aria-label="required"><span class="required">*</span></abbr>
                </label> 
                <input type="email" id="email" name="email"  placeholder="Please enter an Email" required>
                </p>

                <ul>
                  <li>
                  <input type="checkbox" id="receive" name="Receice" value="yes">
                  <label for="receive">I would like to recieve promotional emails</label>
                  </li>
                </ul>

                <button class="subscribe" type="submit">Subscribe</button>

            </fieldset>
          </form>
				</section>

			<!-- Footer -->
			<%- include('../partials/footer'); %>	

				
		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>